@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Styles.css" />
</head>
<body>
    <div class="container-fluid col-4 my-lg-5">
        <h2>Welcome to WatchList! </h2>
        <p>Press the button below to login!</p>
        <a type="button" class="btn btn-success" asp-controller="Account" asp-action="Login">Login</a>
    </div>
</body>
</html>
